.container{
  border: 1px solid black;
  display: flex;
  width: fit-content;
  background-color: rgb(14, 147, 249);
  margin: 180px auto;
}
.card{
  border: none;
  border-radius: 20px;
  max-width: fit-content;
  padding: 10px;
  padding-right: 10px;
  margin: 10px;
  background-color: white;
}
.font-color{
  color: gray;
}
.font i{
  margin: 6px;  
}

h1, h6{
  text-align: center;
}

h6{
  color: gray;
}

.btn{
  padding: 12px;
  text-align: center;
  font-size: 10px;
}

.card .btn{
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: rgb(14, 147, 249);
}
